{% extends 'base.html' %}
{% block content %}
<div class="navbar-2">
    <nav class="navbar">
        <a href="{% url 'home' %}" class="brand1">Grocery</a>
        <a href="{% url 'home' %}" class="brand1">Mobiles</a>
        <a href="{% url 'home' %}" class="brand1">Fashion</a>
        <a href="{% url 'home' %}" class="brand1">Electonics</a>
        <a href="{% url 'home' %}" class="brand1">Home & Furniture</a>
        <a href="{% url 'home' %}" class="brand1">Appliances</a>
        <a href="{% url 'home' %}" class="brand1">Travel</a>
    </nav>
</div>
{% endblock %}