/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5c6c86;
    padding: 10px 20px;
    color: white;
}

.navbar-2 {
    padding: 20px 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.brand {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.brand1 {
    font-size: 24px;
    font-weight:400;
    color: rgb(5, 5, 5);
    text-decoration: none;
    margin-right: 20px;
}

.search-bar {
    width: 500px;
    padding: 8px;
    border: none;
    border-radius: 2px;
    outline: none;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.nav-item {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    position: relative;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: black;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-item:hover {
    color: #ddd;
}

.nav-item .fa {
    margin-left: 5px;
}
